html, body {
	height: 100%;
	background-color: #292C33;
	overflow-x: hidden;
	/*background-image: url("/assets/images/bg-compressed.jpg");*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: white;
}

p, .black-text {
	color: black;
}

.light-text, .footer {
	color: #cfd2da;
}

.footer:hover {
	color: #106382;
	text-decoration: none;
}

a {
	color: #1997c6;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #106382;
	text-decoration: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

modal {
	z-index: 100;
}