html, body, .backgroundBody {
    margin: 0;
}
body, .backgroundBody {
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #2E3561;
    line-height: 1.3;
    color: #585d81;
}

.backgroundBody {
    color: #585d81;
    height: auto !important;
}

.main {
    max-width: 85ch;
    padding: 2ch;
    margin: auto;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
    color: #ecf0f1;
}

a {
	color: #fc3d21;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #67809f;
	text-decoration: none;
}

button {
    color: #fc3d21;
}

button:hover {
    background-color: #67809f;
}

hr {
    border: 0;
    border-top: dotted #fc3d21;
    margin-top: 2em;
    margin-bottom: 2em;
}

.fakehr {
    border: 0;
    color: #fc3d21;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.semiTransparent {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}

.iconBox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /**margin-left: 2em;
    margin-right: 2em;**/
    flex-wrap: wrap;
}

.emailBox {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.emailBtn {
    border-left: 0;
    outline: 0;
}

.emailBtn:focus{
    border-left: 0;
}

.shell {
    font-family: monospace;
    border:none;
}

.shellString {
    color: #fc3d21;
    padding-right: 0.5rem;
    font-size: 2em;
    border: 0;
}

.pb-2 {
    padding-bottom: 2em;
}

ul {
    list-style-type: none;
}

.navbar-item {
    color: #ecf0f1;
    font-weight: bold;
    background: #fc3d21;
    border: solid #fc3d21;
    text-align: center;
}

.navbar-item:hover {
    color: #ecf0f1;
    opacity: 1;
    background: #e2361d;
    border: solid #e2361d;
	text-decoration: none;
}

.center {
	transform: translateY(25vh);
	margin: auto;
	text-align: center;
	width: 40%;
	padding: 10px;
}

.blueprint {
	background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.lines {
    background-color: #0F4C5E; /*or #19809D */
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 14px, 29px, 34px, 51px;
}